/TutorialInfo.meta
/TutorialInfo/*
/ExampleAssets.meta
/ExampleAssets/*
/Materials.meta
/Materials/*
/Presets.meta
/Presets/*
/Readme.asset
/Readme.asset.meta
/Scenes.meta
/Scenes/*
/Scripts.meta
/Scripts/*
/Settings.meta
/Settings/*
